
<div id="footer">
        <div class="footer_links">                      
            <a href="#">home</a>
            <a href="#">about</a>
            <a href="#">services</a>
            <a href="#">clients</a>
            <a href="#">projects</a>
            <a href="#">request a quote </a>
            <a href="#">get in touch</a>         
        </div>
        
        <div class="copyright">
<a href="http://csstemplatesmarket.com"><img src="<%= image_path 'csstemplatesmarket.gif' %>" border="0" alt="" title="" /></a>
        </div>    
    
    </div> 