<div id="menu">
            <ul>                                                                       
            <li class="selected"><a href="#">home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">services</a></li>
            <li><a href="#">clients</a></li>
            <li><a href="#">projects</a></li>
            <li><a href="#">request a quote </a></li>
            <li><a href="#">get in touch</a></li>                                                          
            </ul>
        </div>