<div id="menu">
            <ul>                                                                       
            <li class="selected"><a href="/colleges/students">Students</a></li>
            <li><a href="/colleges/principal">principal</a></li>
            <li><a href="/colleges/staff">staff</a></li>
            <li><a href="#">clients</a></li>
            <li><a href="#">projects</a></li>
            <li><a href="#">request a quote </a></li>
            <li><a href="/rani">get in touch</a></li>                                                          
            </ul>
        </div>